body {
    font-family: Arial, sans-serif;
    margin: 0; /* Espaçamento externo da página */
    padding: 0; /* Espaçamento interno da página */
    background-color: #f4f4f4;
    text-align: center; /* Texto centralizado */
}
header {
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.titulo__header {
    margin: 0 0;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: #ffd12a;
}
nav {
    background-color: #007bff;
    padding: 10px; /* Espaçamento interno do menu */
    display: flex; /* Flex Boxing */
    justify-content: space-between; /* Espaço entre os elementos do menu */
    align-items: center; /* Alinhamento na vertical */
}
#links-menu {
    display: flex;
    gap: 30px; /* Distância entre os itens do menu */
}
nav a {/* Configura os links do menu */
    color: white;
    border: 2px solid white;
    text-decoration: none;
    padding: 10px 15px; /* 10px = Acima e Abaixo e 15px = Direita e Esquerda*/
    font-size: 24px;
    background-color: #0056b3;
    border-top-left-radius: 25px; /* Cantos arredondados */
    border-bottom-right-radius: 25px;
}
a:hover {
    border: 2px solid #ffd12a;
    color:#ffd12a;
    transition-duration: 200ms;
    transform: scale(1.1);
}
img {
    width: 90px;
    height: auto;
    margin-right: 20px; /* Espaçamento externo à direita */
    border-radius: 10px;
}
.container {
    width: 80%; /* Largura de 80% da largura da página */
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid black;
    /* Espaçamento externo 20px acima e abaixo */
    /* Espaçamento externo auto à direita e à esquerda */
    margin: 160px auto;
    padding: 20px; /* Espaçamento interno */
    text-align: justify;
}
p {
    text-indent: 15px;
}
.negrito {
    font-weight: bold;
}
h2{
    text-align: center;
}
ol li{
    padding-bottom: 10px;
}
table tr td {
    padding: 10px;
    align-content: center;
    width: 600px;
}
table{
    margin: 0 auto; /*Centraliza a tabela na página*/
    border: 2px solid black;
    border-radius: 3px;
    border-collapse:collapse;
}
.tabela__sem__header{
    width: 1200px;
    justify-content: right;
    text-align: justify;
}
.azul {
    background-color: navy;
    color: white;
}
.laranja {
    background-color: orange;
}
.preta {
    background-color: black;
    color: white;
}
.roxa {
    background-color: rgb(192, 87, 225);
}
.verde {
    background-color: #32cf57;
}
.vermelha {
    background-color: rgb(247, 61, 61);
}
.meta {
    padding: 0 20px;
}
.palavra__laranja {
    color:orange;
}
.palavra__roxa {
    color: rgb(192, 87, 225);
}
.palavra__verde {
    color: #32cf57;
}
.palavra__vermelha {
    color: rgb(247, 61, 61);
}
h3 {
    text-align: justify;
}
h6 {
    margin-top: 5px;
    margin-left: 1px;
}
thead {
    text-align: center;
}
tbody {
    text-align: center;
}
th {
    padding: 0 20px;
}
.table__title {
    text-align: center;
}
.container__azul__claro__info {
    background-color: #91c6fe;
    padding: 1px 15px;
    border: 2px solid black;
    border-radius: 10px;
}
.container__azul__claro__titulo {
    background-color: #91c6fe;
    padding: 1px;
    margin-bottom: 2px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container__azul__claro__info__encaixe {
    background-color: #91c6fe;
    padding: 1px 15px;
    border: 2px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.linha__fundo__cinza__claro {
    background-color:#c2c2c2;
}
.container__cinza__claro__titulo {
    background-color: #dfdfdf;
    padding: 1px;
    margin-bottom: 2px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container__cinza__claro__info__encaixe {
    background-color: #dfdfdf;
    padding: 1px 15px;
    border: 2px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sublinhado {
    text-decoration: underline;
}
.calculadora {
    background-color: #ffd12a;
    padding: 0.8em;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}
.calculadora__form__lista {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.9em;
    margin-left: 3%;
    height: 500px;
    list-style-type: none;
}
.calculadora__campos__texto {
    font-size: 1.5em;
}
.calculadora__campos__input {     
    background-color: #007bff;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.5em;
    padding-left: 0.3em;
    width: 5em;
}
.calculadora__acao {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.calculadora__botao {
    margin: 0.7em 0.7em;
    font-size: 24px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
.calculadora__botao:hover {
    background-color: white;
    color: black;
}
.calculadora__form {
    padding-top: 1em;
    border: 2px solid black;
    background-color: #007bff;
    border-radius: 10px;
}
.calculadora__resultado {
    display: flex;
    color: white;
    font-size: 2em;
    justify-content: center;
    margin: 1em;
}
.calculadora__selecao {
    display: flex;
    justify-content: center;
}
.calculadora__selecao__texto{
    font-size: 2em;
    margin-right: 0.5em;
}
.calculadora__select {
    font-size: 1.5em;
    color: white;
    background-color: #007bff;
    border: none;
    border-bottom: 2px solid white;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

